{
  "extends": [
    "react-app",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "rules": {
    "array-bracket-spacing": [2, "always"],
    "comma-dangle": [2, "never"],
    "func-call-spacing": [2, "always"],
    "no-spaced-func": 0,
    "object-curly-spacing": [2, "always"],
    "space-before-function-paren": [2, "always"]
  }
}
